body {
	font-family: 'Montserrat','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 14px;
}

.header {
	padding: 10px 0 15px;
}

.header-logo p{
	display: inline-block;
	font-size: 16px;
	padding-left: 20px;
	color: #000;
}

.buynow-button  {
	text-align: right;
}

.buynow-button .btn {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 45px;
	background-color: red;
	border-radius: 0;
}

/* Landing Banner */
.landing-banner  {
	background-image: url("../images/top-banner.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;	
}

.banner-inner {
	position: relative;
	margin: 125px 0;
}

.banner-inner-right {
	position: relative;	
	margin: 125px 0;
}

.banner-inner-right h2,
.banner-inner h2 {
	color: #fff;
    font-size: 50px;
    left: 65px;
    position: absolute;
    text-align: center;
    top: 0;
}

.banner-inner-right p,
.banner-inner p {
	color: #fff;
    font-family: 'Montserrat','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 18px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100px;
}

.banner-inner-middle {
	background-image: url("../images/banner-group1.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 25px;
	text-align: center;
	position: relative;
}

.banner-inner-middle .btn {
	background-color: #1a1a1a;
    color: #fff;
    font-size: 14.54px;
    font-weight: 700; 
    padding: 0px 3px;
    text-align: center;
    text-transform: uppercase;
	border-radius: 0;
	margin: 140px 10px  138px 0;
	width: 195px;
	height: 65px;
	line-height: 65px;
}

.banner-inner-middle .btn:hover {
	background-color: #fff;
	color: #b2b3b6;
}

.read-button:before,
.purchase-button:before {
	background-image: url("../images/purchase-icon.png");
	background-repeat: no-repeat;
	content: "";
	background-position: left;
	height: 25px;
	width: 23px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 5px;
}

.read-button:before{
	background-image: url("../images/plus-icon.png");
}

.read-button:hover:before{
	background-image: url("../images/plus-icon-h.png");
}

.purchase-button:hover:before {
	background-image: url("../images/purchase-icon-hover.png");
}

/* Template */

.template-landing {
	margin-top: 96px;
}

.landing-item-inner {
	background-image: url("../images/template-screen.png");
	background-repeat: no-repeat;
	height: 295px;
	width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
	background-size: 100% 100%;
	padding: 20px;
}

.template-landing .template-list {
	padding: 0;
	list-style: none;
}

.landing-item-img {
    width: 100%;
    height: 210px;
    margin: 0  auto;
    overflow: hidden;
}

.landing-item-img  img {
	width: 100%;
}

.template-list  .btn {
	background-color: #1a1a1a;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 130px;	
}

.template-list  a  {
    text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	display:inline-block;
	color: #101010;
	margin-bottom: 50px;
	font-family: 'Montserrat','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif
}

.template-list li {
	text-align: center;
}

.template-list a:hover {
	text-decoration: none;
}

.template-landing {
	border-bottom: 2px solid #efefef;
	display: inline-block;
	width: 100%;
}


/* Footer */
.landing-footer {
	margin: 20px 0;
}

.footer-right,
.copy-right-content p {
	color: #555;
}

.footer-right p{ 
	display: inline-block;
}

.footer-right {
	text-align:right;
}