body{
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	background: #ffffff;
	color: #18172A;
}
a {
	text-decoration: none;
	color: #18172A;
	outline: none;
	box-shadow: none;
}
a:hover, a:focus {
	color: #FDB818;
	text-decoration: none;
	outline: none;
	box-shadow: none;
}
li {
	position: relative; 
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	box-shadow: none;
}
button:hover, button:focus, button.active {
	outline: none;
	box-shadow: none;
}

.mini-line:before { 
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 60px;
	height: 1px;
	background: #18172A;
	transform: translate(-50%, -0%);
	-webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
	-o-transform: translate(-50%, -0%);
}

/*=== theme-title ===*/
.page-header {
	margin: 0 auto;
	border-bottom: none;
	background-color: #000;
	background-position: top center;
	background-image: url("../img/landing.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	padding: 130px 130px 200px;
}
@media (max-width: 991px) {
	.page-header {
		padding: 100px 30px;
	}
}
.page-header .theme-title .logo {
	margin-bottom: 100px;
	max-width: 250px;
}
.page-header .theme-title .logo img { 
	width: 100%;
}
.page-header .theme-title h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #FDB818;
	text-transform: uppercase;
	margin: 0px 0px 50px;
}
.page-header .theme-title h4 {
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0px 0px 50px;
}
.buy-theme {
	background: #EE3E2A;
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.buy-theme:hover {
	color: #ffffff;
	background: #FDB818;
	text-decoration: none;
}

/*===  HomePage Style ===*/
.home-version {
	background: #ffffff;
	margin: 0px auto;
	text-align: center;
	padding: 80px 170px 70px;
}
@media (max-width: 991px) {
	.home-version {
		padding: 80px 50px 70px;
	}
}
.home-version h2 {
	font-weight: 700;
	font-size: 48px;
	color: #18172A;
	margin: 0px 0px 30px;
}
.home-version .number {
	color: #FDB818; 
}
.home-version .block-content { 
	position: relative;
	display: block;
	margin: 0px 0px 30px;
}
.home-version .block-content h6 {
	font-size: 18px;
	font-weight: 700;
	margin: 30px 0px 0px;
}
.home-version .block-content h6 a {
	color: #18172A;
}
.home-version .block-content .image {
	position: relative;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .image:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .btn-demo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9;
	background: #FDB818;
	color: #18172A;
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	-o-border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -0%);
	-webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
	-o-transform: translate(-50%, -0%);
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .btn-demo:hover {
	background: #000000;
	color: #ffffff;
}
.home-version .block-content h6 a:hover {
	color: #FDB818;  
}
.home-version .block-content:hover .image {
	box-shadow: 0px 1px 10px rgba(7, 7, 7, 0.52);
}
.home-version .block-content:hover .image:before {
	opacity: 1;
	visibility: visible;
}
.home-version .block-content:hover .btn-demo {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

/*=== Theme Features ===*/
.theme-features {
	background: #F7F7F7;
	padding: 90px 0px 80px;
	margin: 0px auto;
	text-align: center;
}
.theme-features .theme-title {
	position: relative;
}
.theme-features .theme-title h3 {
	font-size: 36px;
	font-weight: 700;
	margin: 0px 0px 60px;
}
.theme-features h5 {
	font-size: 24px;
	font-weight: 700;
	margin: 0px 0px 30px;
}

/*=== dynamic-checkout ===*/
.dynamic-checkout {
	background: #ffffff;
	padding: 80px 170px 70px;
	text-align: center;
	margin: 0px auto;
}
@media (max-width: 991px) {
	.dynamic-checkout {
		padding: 80px 50px 70px;
	}
}
.dynamic-checkout h5 {
	font-size: 24px;
	font-weight: 700;
	margin: 0px 0px 20px;
}

/*=== mobile-optimize ===*/
.mobile-optimize {
	background: #F7F7F7;
	padding: 70px 0px 0px;
	text-align: center;
	margin: 0px auto;
}
.mobile-optimize h5 {
	font-size: 24px;
	font-weight: 700;
	margin: 0px 0px 20px;
}

/*=== multicolor - fomo-product-sales ===*/
.multicolor {
	background: #ffffff;
}
.fomo-product-sales {
	background: #F7F7F7;
}
.multicolor, 
.fomo-product-sales {
	padding: 80px 0px 70px;
	text-align: center;
	margin: 0px auto;
}
.multicolor h5, 
.fomo-product-sales h5 {
	font-size: 24px;
	font-weight: 700;
	margin: 0px 0px 20px;
}
/*=== other-features - supports ===*/
.other-features {
	background: #ffffff;
	padding: 80px 0px 50px;
	text-align: center;
}
.other-features .feature-title {
	position: relative;
}
.other-features .feature-title h3 {
	font-weight: 700;
	font-size: 36px;
	margin: 0px 0px 50px;
}
.other-features .block-content {
	position: relative;
	padding: 30px 20px;
	margin: 0px 0px 30px;
	box-shadow: 0px 2px 10px rgba(163, 163, 163, 0.52);
	min-height: 400px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.other-features .block-content:hover {
	box-shadow: 0px 2px 12px rgba(50, 50, 50, 0.52);
}
.other-features .image {
	max-width: 45px;
	margin: 30px auto 50px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.other-features h6 {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 15px;
}

/*=== footer-info ===*/
.footer-info {
	background: #18172A;
	padding: 100px 0px;
	text-align: center;
	color: #ffffff;
}
@media (max-width: 767px) {
	.footer-info {
		padding: 30px 0px;
	}
}
.footer-info .footer-content {
	max-width: 500px;
	margin: 0px auto;
}
.footer-info  h5 {
	font-size: 24px;
	font-weight: 500;
	margin: 0px 0px 20px;
}
.footer-text {
	font-size: 14px;
	margin: 0px 0px 20px;	
}
.footer-info .buy-theme {
	font-size: 18px;
	padding: 10px 25px;
	display: inline-block;
}